extends ../../layouts/auth.pug

block main
  .container.my-3
    .row
      .col-8.mx-auto
        h1(class="text-center") #{pageTitle}

        form(
          action=`/${prefixAdmin}/auth/password/reset?_method=PATCH`
          method="POST"
        )
          div(class="form-group")
            label(for="password") Mật khẩu mới
            .input-group
              input(
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Vui lòng nhập mật khẩu dài tối thiểu 8 kí tự"
                required
              )
              span.input-group-btn  
                button(  
                  type="button"  
                  togglePassword  
                  class="btn btn-outline-secondary"  
                )
                  i.fa-solid.fa-eye-slash
          div(class="form-group")
            label(for="confirmpassword") Xác nhận mật khẩu mới
            .input-group
              input(
                type="password"
                class="form-control"
                id="confirmpassword"
                name="confirmpassword"
                placeholder="Vui lòng xác nhận mật khẩu"
                required
              )
              span.input-group-btn  
                button(  
                  type="button"  
                  togglePasswordConfirm  
                  class="btn btn-outline-secondary"  
                )
                  i.fa-solid.fa-eye-slash
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Đổi mật khẩu